nav {
	float: left;
	max-width: 360px;
	margin: 5px;
	padding: 25px;
}

nav ul {
	list-style-type: none;
	list-style-color: DarkBlue;
	list-style-position: inside;
	padding: 10px;
	box-shadow: 0 20px 20px rgba(0,0,0,.2);
}

nav ul a {
	text-decoration: none;
}

article {
	margin-left: 100px;
	border-left: 3px solid #0066cc;
	padding: 15px;
	overflow: show;
}

.container {
	display: flex;
	justify-content: space-around;
	width: 1250px;
	height: 1050px;
	margin: 50px;
	background-color: cornflowerblue;
	position: center;
	border-radius: 7px;
	box-shadow: 0 20px 20px rgba(0,0,0,.2);
}

.box1 {
	border-radius: 15px 30px;
	background-color: SpringGreen;
	width: 750px;
	height: 300px;
	margin: auto;
	padding: 10px;
	box-shadow: 0 20px 20px rgba(0,0,0,.2);
}

.box2 {
	border-radius: 25px;
	background-color: Yellow;
	width: 750px;
	height: 300px;
	margin: auto;
	padding: 10px;
	box-shadow: 0 20px 20px rgba(0,0,0,.2);
}

.box3 {
	border-radius: 30px 15px;
	background-color: Violet;
	width: 750px;
	height: 300px;
	margin: auto;
	padding: 10px;
	box-shadow: 0 20px 20px rgba(0,0,0,.2);
}

iframe {
	border-style: 3px solid #0066cc;
	height: 400px;
	width: 90%; 
	text-align: center;
	position: relative;
	bottom: 1;
	margin: 50px;
	padding: 0px;
	box-shadow: 0 20px 20px rgba(0,0,0,.2);
} 
		